html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}
body {
  background-color: #eee;
}
.bg-w {
  background-color: #fff;
}
.f-r {
  float: right;
}
.f-l {
  float: left;
}
.d-ib {
  display: inline-block;
}
.d-b {
  display: block;
}
.ta-l {
  text-align: left;
}
.ta-c {
  text-align: center;
}
.ta-r {
  text-align: right;
}
.va-t {
  vertical-align: top;
}
.va-m {
  vertical-align: middle;
}
.va-b {
  vertical-align: bottom;
}
